/* Navbar styles */
body {
    background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans';
}


  .header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .header-icons a {
    color:rgb(31, 88, 244);
    font-size: 20px;
    margin: 0 10px; /* Adjust the margin as desired */
  }

  /*Upper Log/Reg Header*/

  .header i {
    margin-bottom: 0px; /* Adjust the value as needed */
    margin-right: -10px; /* Adjust the value as needed */
  }
  
  .header {
    display: flex;
    align-items: center;
    background-color: rgb(31, 88, 244);
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .header-button1 {
    color: white;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 17px;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 14px; /* Add right margin */
  }
  
.header-button2 {
  color: white;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 14px; /* Add right margin */
}
  
  .header-button1:last-child {
    margin-right: 0; /* Remove right margin from the last button */
  }
  
  .header-button1 {
    /* Add href style */
    pointer-events: auto;
    cursor: pointer;
  }
  
  
  .navbar-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 0 120px;
  }
  
  .navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    transition: transform 0.3s ease;
  }
  
  .navbar-links li:hover {
    transform: translateY(-5px);
  }





  

  .navbar {
    background-color: rgb(44, 109, 247);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .navbar-logo {
    margin-left: 60px;
  }
  
  .navbar-logo img {
    height: 75px; /* Adjust the height as desired */
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 0 120px;
  }
  
  .navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    transition: transform 0.3s ease;
  }
  
  .navbar-links li:hover {
    transform: translateY(-5px);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar {
      background-color: rgba(31, 150, 244, 1);
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 10px;
      margin-left: -20px;
      margin-right: -20px;
    }
  
    .navbar-links a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 17px;
      margin-left: 20px;
      margin-right: -20px;
    }
  
    .navbar-logo {
      margin-left: 20px;
    }
  
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  }
  

/*Carousel*/

.textbox1-container {
  display: none;
}

.hero-section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.hero-imagesmall {
  display: none;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
  width: 50%;
  max-width: 600px;
  padding: 20px;
  color: #000;
  text-align: left;
  box-sizing: border-box;
}

.hero-heading {
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-paragraph {
  font-weight: bold;
  color: #fff;
  font-size: 23px;
  margin-bottom: 20px;
  word-wrap: break-word;
  hyphens: auto;
}

.hero-button {
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}


.hero-button:hover {
  background-color: #fff;
  color: #000;
}

.textbox-container {
  display: none;
}

@media screen and (max-width: 1350px) {
  .hero-content {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    width: 90%;
    padding: 20px;
    color: #000;
    text-align: left;
    word-break: break-word; /* Add this line to allow word wrapping */
  }
  
  
  
  .hero-section {
    flex-direction: column;
  }
  
  .hero-image {
    order: 1;
    margin-bottom: 20px;
  }
  
  /* Add the following styles to make the hero content sticky */
  .sticky-header .hero-content {
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    width: 50%;
    max-width: 600px;
  }
  
  /* Decrease font size for smaller screens */
  .hero-heading {
    font-size: 30px;
  }
  
  .hero-paragraph {
    font-size: 18px;
  }
  
  .hero-button {
    text-align: left; /* Added to center align the button */
    margin-left: 0;
    margin-right: auto;

  }
}



@media screen and (max-width: 820px) {
  .hero-content {
    display: none;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 0; /* Remove the bottom margin */
  }

  .textbox1-container {
    display: block;
    background-color: rgba(31, 150, 244, 1);
    padding: 20px;
    text-align: center;
  }
  
  .textbox1-heading {
    font-weight: bold;
    color: #fff;
    font-size: 23px;
    margin-bottom: 10px;
  }
  
  .textbox1-paragraph {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  .textbox1-button {
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    margin-top: -15px; /* Add margin to create space between the paragraph and the button */
  }
  
  .textbox1-button:hover {
    background-color: #fff;
    color: #000;
  }
}

/*products*/

.card-container {
  border-radius: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border-radius: 40px;
  position: relative;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-family: arial;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-25px);
}

.card-content {
  padding: 20px;
}

.card img {
  display: fill;
  border-radius: 40px;
  height: 340px;
}

.price {
  color: grey;
  font-size: 22px;
}


/* Media query for screens with a maximum width of 767px */
@media screen and (max-width: 768px) {
    .card {
      width: 300px;
      margin: 20px 20px;
    }
  
    .card-content {
      padding: 20px; /* Add padding to the card content */
    }
  
    /* Hide the description text for phone versions */
    .card p:not(.price) {
      display: none;
    }
    
    /* Adjust button positioning for phone versions */
    .card button {
      position: relative; /* Restore default positioning */
      width: auto;
      margin-top: 20px;
    }
  }

  

.container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.text-container {
    flex: 1;
    text-align: center;
    padding: 20px;
    max-width: calc(100% + 2000px); /* Adjusted to 50% minus 100px */
}

.text-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-container p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.image-container {
    flex: 1;
    text-align: left;
    padding: 20px;
    max-width: calc(50% - 100px); /* Adjusted to 50% minus 100px */
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .container2 {
        flex-direction: column;
    }
    
    .text-container, .image-container {
        text-align: center;
        margin: 0;
        max-width: 100%; /* Adjusted to 100% */
    }
}

